<h1> <%= @figure.name %> </h1>

<h4> Titles: </h4>

<% @figure.titles.each do |title| %>
  <%= title.name %>
  <br>
<% end %>

<h4> Landmarks: </h4>
<% @figure.landmarks.each do |landmark| %>
  <%= landmark.name %>
  <br>
<% end %>